services:
  clickhouse:
    image: clickhouse/clickhouse-server:latest
    ports:
      - "8123:8123"
      - "9000:9000"
    environment:
      - CLICKHOUSE_USER=default
      - CLICKHOUSE_PASSWORD=
      - CLICKHOUSE_DEFAULT_ACCESS_MANAGEMENT=1
    volumes:
      - clickhouse_data:/var/lib/clickhouse

  app:
    build: ./app
    ports:
      - "5000:5000"
    volumes:
      - ./app:/app
      - ./scripts:/app/scripts
    depends_on:
      - clickhouse
    environment:
      - FLASK_DEBUG=1
      - CLICKHOUSE_HOST=clickhouse

volumes:
  clickhouse_data:
